@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* add your custom css here */

* {
  margin: 0px auto;
  padding: 0px;
  background-color: white;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

@use postcss-cssnext;


:root {
	--font-size: 2vw;
	--font-color: #C5BEAA;
	--paper-color: #F9F8EF;
	--paper-radius: 4px;
	--paper-inclination: 8deg;
	--background-color: #77EEDF;
}














/* ////////////////////////////////////////////////
//////////////////////////////////////////////// */

:root {
	--paper-shadow: 				 color( var(--background-color) shade(50%) );
	--bg-color-dark-shade30: color( var(--paper-color) shade(20%) );
	--bg-color-dark-shade15: color( var(--paper-color) shade(5%) );
	--transition-duration:   200ms;
	--paper-light:   				 color( var(--paper-color) lightness(+8%) );
}

body {
	background-color: var(--background-color);
}

/* Paper Sheet */
h1.flag {
	white-space: nowrap;
	font-size: var(--font-size);
	position: relative;
	cursor: default;


	/* Paper Shadow */
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		background-color: var(--paper-shadow);
		width: 89%;
		left: 4%;
		height: 40%;
		filter: blur(2vw);
		transition: all var(--transition-duration) cubic-bezier(0.0, 0.0, 0.2, 1);
	}

	/* Each letter */
	& span {
		user-select: none;
		display: inline-block;
		width: 3em;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		text-align: center;
		position: relative;
		z-index: 1;
		transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);

		/* Solid Surface */
		&::before {
			content: '';
			background-color: var(--paper-color);
			transition: all 1s cubic-bezier(0.0, 0.0, 0.2, 1);
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
		}

		/* Odd letters */
		&:nth-child(odd) {
			transform: skewY(-var(--paper-inclination));
			color: color( var(--font-color) tint(35%) );
			background: linear-gradient(-30deg, var(--paper-light), var(--bg-color-dark-shade15));
			box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.3);
			prospective: 1000px;
		}

		/* Even letters */
		&:nth-child(even) {
			transform: skewY(var(--paper-inclination));
			color: var(--font-color);
			background: linear-gradient(87deg, var(--bg-color-dark-shade30), var(--bg-color-dark-shade15));
			box-shadow: inset -1px 0 0px rgba(0, 0, 0, 0.05);
			prospective: 1000px;
		}

		/* Paper border-radius */
		&:first-of-type,
		&:first-of-type:before {
			border-radius: var(--paper-radius) 0 0 var(--paper-radius);
		}

		&:last-of-type,
		&:last-of-type:before {
			border-radius: 0 var(--paper-radius) var(--paper-radius) 0;
		}
	}

	/* Hover interaction */
	&:hover {

		&:before {
			opacity: 0.5;
			filter: blur(2px);
			left: 1%;
			width: 98%;
		}

		& span {
			transform: none;
			color: var(--font-color);
			box-shadow: none;
			transition-duration: var(--transition-duration);
			width: 3.1em;

			&::before {
				opacity: 1;
				transition-duration: var(--transition-duration);
			}
		}
	}
}

header {
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

nav {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 90%;
  font-weight: 400;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  font-size: 14px;
}

li {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 3%;
  float: right;
}

#logo {
  position: relative;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 10%;
  float: left;
  margin-bottom: 23%;
}

#welcome {
  clear: both;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: left;
  margin-bottom: 20%;
  margin-left: 10%;
}

#logo a {
  text-decoration: none;
  color: black;
}

li a {
  font-weight: 600;
}

li a:link {
  text-decoration: none;
  color: gray;
}

li a:visited {
  text-decoration: none;
  color: lightgray;
}

li a:hover {
  text-decoration: none;
  color: black;
}

li a:active {
  text-decoration: none;
  color: gray;
}

li a:focus {
  color: black;
}


#work {
  margin-top: 20%;
  margin-bottom: 10%;
}

#container {
  display: inline-block;
  max-width: 90%;
  margin: 10px;
  position: relative;
  width: 40%;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

#container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -50%);
}

.subtext {
  color: black;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  -ms-transform: translate(-50%, -50%);
}

.title {
  margin: 10px;
  font-size: 14px;
}

#about {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 12%;
  margin-top: 7%;
  margin-left: 50%;
  text-align: left;
  max-width: 90%;
}

#pictureOfMe {
  position: relative;
  float: left;
  margin-left: 10%;
}

#aboutMe {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#aboutDesc {
  font-size: 14px;
  max-width: 65%;
}

#resume {
  position: relative;
  float: left;
  left: 10%;
  width: 40%;
  height: 100%;
}

#contact {
  position: relative;
  margin-top: 7%;
  margin-left: 55%;
  margin-right: 10%;
  margin-bottom: 36%;
  text-align: left;
}

#contactMe {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#contactDesc {
  font-size: 14px;
}

#signaturePrint {
  font-weight: 600;
  /*font-family: 'Montserrat', sans-serif;*/
}


footer {
  position: fixed;
  height: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
}

footer a:link {
  color: #000000;
  text-decoration: none;
  padding: 8px;
}

footer a:visited {
  color: #000000;
  text-decoration: underline;
  padding: 8px;
}

footer a:hover {
  color: #ffffff;
  background-color: #ABC178;
  padding: 8px;
}
