@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* add your custom css here */

* {
  margin: 0px auto;
  padding: 0px;
  background-color: white;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

#enter {
  margin-top: 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 42px;
}

.button {
    position: relative;
    background-color: white;
    border-style: solid;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: black;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-top: 3%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 25%;
}

.button:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

header {
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

nav {
  margin: 0;
  padding: 0;
  margin-top: 3%;
  position: relative;
  max-width: 90%;
  font-weight: 400;
  margin-left: 55%;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  font-size: 14px;
}

li {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 7%;
  text-align: left;
}

#logo {
  position: relative;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 10%;
  float: left;
  margin-bottom: 23%;
  clear: both;
}

#logo a{
  text-decoration: none;
}

#welcome {
  clear: both;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: left;
  margin-bottom: 20%;
  margin-left: 10%;
}

#logo a {
  text-decoration: none;
  color: black;
}

li a {
  font-weight: 600;
}

li a:link {
  text-decoration: none;
  color: gray;
}

li a:visited {
  text-decoration: none;
  color: lightgray;
}

li a:hover {
  text-decoration: none;
  color: black;
}

li a:active {
  text-decoration: none;
  color: black;
}

li a:focus {
  color: black;
}


#work {
  margin-top: 20%;
  margin-bottom: 10%;
}

#container {
  display: inline-block;
  max-width: 90%;
  margin: 10px;
  position: relative;
  width: 40%;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

#container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -50%);
}

.subtext {
  color: black;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  -ms-transform: translate(-50%, -50%);
}

.title {
  margin: 10px;
  font-size: 14px;
}

#about {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 50%;
  text-align: left;
  margin-bottom: 15%;
}

#pictureOfMe {
  position: relative;
  float: left;
  left: 10%;
  width: 35%;
  height: auto;
  clear: both;
}

#title {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#aboutDesc {
  font-size: 14px;
  margin-right: 20%;
}

#contact {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  left: 10%;
  text-align: left;
  margin-bottom: 30%;
}

#contactDesc {
  font-size: 14px;
}

#contactInfo {
  position: relative;
  line-height: 175%;
}

#contactInfo a {
  text-decoration: none;
  color: #BC6F85;
}

#contactInfo a:hover {
  color: #D997AA;
}

#contactInfo a:visited {
  color: lightgray;
}

#signaturePrint {
  position: relative;
  font-weight: 600;
  float: left;
}


footer {
  position: fixed;
  height: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
}

footer a:link {
  color: #000000;
  text-decoration: none;
  padding: 8px;
}

footer a:visited {
  color: #000000;
  text-decoration: underline;
  padding: 8px;
}

footer a:hover {
  color: #ffffff;
  background-color: #ABC178;
  padding: 8px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

header {
  margin-top: 8%;
}

#logo {
  font-size: 18px;
  margin-left: 18%;
}

li {
  font-size: 12px;
  right: 12%;
  position: relative;
}

.text {
  font-size: 12px;
  width: 95%;
}

.subtext {
  font-size: 12px;
}

#welcome {
    font-size: 30px;
    max-width: 85%;
  }

#title {
    font-size: 18px;
  }

#pictureOfMe {
 width: 75%;
 height: auto;
}

#about {
  position: relative;
  right: 40%;
  width: 100%;
  margin-top: 130%;
}

#contactDesc {
  width: 80%;
}

#contactInfo {
  font-size: 14px;
  line-height: 225%;
}

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

  #logo {
    font-size: 18px;
  }

  li {
    font-size: 12px;
    position: relative;
  }

  .text {
    font-size: 14px;
    width: 100%;
  }

  .subtext {
    font-size: 14px;
  }

  #welcome {
      font-size: 36px;
      max-width: 85%;
    }

  #title {
      font-size: 18px;
    }

  #pictureOfMe {
   width: 100%;
   height: auto;
  }

  #about {
    position: relative;
    right: 40%;
    width: 100%;
    margin-top: 200%;
  }

  #contactInfo {
    font-size: 10px;
    line-height: 225%;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

  #logo {
    font-size: 18px;
  }

  li {
    font-size: 14px;
    position: relative;
  }

  .text {
    font-size: 14px;
    width: 100%;
  }

  .subtext {
    font-size: 14px;
  }

  #welcome {
      font-size: 40px;
      max-width: 85%;
    }

  #title {
      font-size: 18px;
    }

  #pictureOfMe {
   width: 75%;
   height: auto;
  }

  #about {
    position: relative;
    right: 40%;
    width: 100%;
    margin-top: 130%;
  }

  #contactInfo {
    font-size: 10px;
    line-height: 225%;
  }

 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

  #welcome {
      max-width: 85%;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
