@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* add your custom css here */

* {
  margin: 0px auto;
  padding: 0px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

header {
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

h {
  font-family: 'Montserrat', sans-serif;
}

nav {
  margin: 0;
  padding: 0;
  margin-top: 3%;
  position: relative;
  max-width: 90%;
  font-weight: 400;
  margin-left: 60%;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  font-size: 14px;
}

li {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

#nav{
  padding-left: 5%;
}

#logo {
  position: relative;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 10%;
  float: left;
  clear: both;
}

#logo a {
  text-decoration: none;
  color: black
}

li a {
  font-weight: 600;
}

li a:link {
  text-decoration: none;
  color: gray;
}

li a:visited {
  text-decoration: none;
  color: lightgray;
}

li a:hover {
  text-decoration: none;
  color: black;
}

li a:active {
  text-decoration: none;
  color: black;
}

.icon-bar {
    position: fixed;
    margin-top: 15%;
    width: 4%;
    background-color: gray;
}

.icon-bar a {
    display: block;
    text-align: center;
    height: 60px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: black;
    color: white;
    opacity: 1;
}

.active {
    background-color: black !important;
    color: white;
}


#welcome {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: left;
  margin-bottom: 60%;
  margin-left: 10%;
  clear: both;
}

#work {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  max-width: 60%;
  margin-top: 20%;
  float: left;
  clear: both;
}


#workDesc {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20%;
  margin-top: 7%;
  margin-left: 55%;
  text-align: left;
}

#workDesc2 {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20%;
  margin-top: 7%;
  margin-left: 10%;
  text-align: left;
  width: 45%;
}

#pic {
  position: relative;
  float: right;
  width: 25%;
  height: 12.5%;
  margin-top: 13%;
  margin-right: 15%;
  clear: both;
}

#pic1{
  position: relative;
  float: left;
  margin-left: 10%;
  width: 40%;
  height: 20%;
  clear: both;
}

#pic2{
  position: relative;
  float: right;
  margin-right: 10%;
  margin-left: 5%;
  width: 35%;
  height: 20%;
  clear: both;
}


.carousel-caption {
  padding: 0;
  opacity: .85;
}

.carousel-indicator {
  text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: 0;
padding: 0;
}


#workHeading {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#aboutWorkDesc {
  font-size: 14px;
  letter-spacing: .5px;
  max-width: 75%;
}

#signaturePrint {
  font-weight: 600;
}

button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,{
  outline: 0 !important;
}
button.back-to-top::before,
button.back-to-top::after {
  content: "";
    display: block;
    vertical-align: middle;
    border-bottom: solid 10px #EA5D5F;
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
  border-radius:20px;
  visibility: hidden;
}
button.back-to-top.show::after,
button.back-to-top.show::before{
  visibility: visible;
}
button.back-to-top::after {
  border-bottom-color:#fff;
      position: relative;
  top:-24px;
}
button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/*footer {
  position: fixed;
  height: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
}

footer a:link {
  color: lightgray;
  text-decoration: none;
  padding: 8px;
}

footer a:visited {
  color: gray;
  text-decoration: underline;
  padding: 8px;
}

footer a:hover {
  color: black;
  padding: 8px;
}*/
